@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<left>

    <a href="@Url.Action("Index","Home")">
        <img src="~/Content/icons/RedyFitnessLogo.png" height="150" width="250" />
    </a>
</left>


<address>
    <strong>Email</strong>   <a href="mailto:Support@example.com">Erick.t.valle@outlook.com</a><br />
    <strong>Linkdin</strong> <td><a href="https://www.linkedin.com/in/erick-valle-1b355216b/">https://www.linkedin.com/in/erick-valle-1b355216b/</a></td><br />
    <strong>GitHub</strong> <td><a href="https://github.com/Erick-v14">https://github.com/Erick-v14</a></td>
</address>
