
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }


        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>

    <h2>Home</h2>
    <div class="row">
        <div class="column">
            <p>
                &#xf29e;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque id diam vel quam elementum pulvinar etiam non quam. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Eu volutpat odio facilisis mauris sit amet massa vitae. Sapien faucibus et molestie ac feugiat. In pellentesque massa placerat duis ultricies lacus sed. Est velit egestas dui id ornare arcu odio ut sem. Purus ut faucibus pulvinar elementum integer enim. Vestibulum rhoncus est pellentesque elit. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Tincidunt arcu non sodales neque sodales ut. Nunc non blandit massa enim.

                Non blandit massa enim nec dui nunc mattis. Interdum velit laoreet id donec ultrices tincidunt arcu.
                <img src="~/Content/icons/RedyFitnessLogo.png"  width="500" height="300" />
            </p>
        </div>

        <div class="column">
            <p>

                Ac turpis egestas integer eget aliquet nibh praesent. Metus dictum at tempor commodo ullamcorper. Magna ac placerat vestibulum lectus mauris. Elit scelerisque mauris pellentesque pulvinar pellentesque. Magnis dis parturient montes nascetur ridiculus. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Est lorem ipsum dolor sit amet. Purus gravida quis blandit turpis cursus.

                Euismod nisi porta lorem mollis aliquam. Sem viverra aliquet eget sit amet. Facilisis sed odio morbi quis commodo odio aenean. Tristique senectus et netus et malesuada fames ac turpis egestas. Habitant morbi tristique senectus et netus et malesuada fames ac. Tortor dignissim convallis aenean et tortor. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Vivamus at augue eget arcu dictum varius. Et malesuada fames ac turpis egestas. Arcu cursus vitae congue mauris rhoncus aenean vel.

                Id neque aliquam vestibulum morbi blandit. Nibh tortor id aliquet lectus proin. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Accumsan tortor posuere ac ut consequat. Sed nisi lacus sed viverra. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Duis at tellus at urna condimentum mattis pellentesque id nibh. Cras semper auctor neque vitae tempus. Rhoncus urna neque viverra justo nec ultrices. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus.
                ismod nisi porta lorem mollis. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed.

            </p>
        </div>
